
/* *, *::before, *::after {
    box-sizing: inherit;
  } */
.row{
    box-sizing: border-box;
    overflow-x: hidden; 
    width: 100%;
}

.text-secondry{

    color: rgb(128, 100, 162);
}

.buttonlogin .btn{
  background: none;
  color:rgb(128, 100, 162) ;
  font-weight: 500;
  font-size: 20px;
  border-bottom: 2px solid rgb(128, 100, 162);
    border-radius: 0;

}
.buttonlogin .btn:hover{
    border-bottom: 4px solid #0D6EFD;
    border-radius: 0;
}
.continuebutton{
    width: 100%;
    margin: 2rem;
}
.continuebutton .btn{
    font-weight: 700;
    /* padding-inline: 10rem; */
}
.search-{
    position: absolute;
    top: 2.2rem;
    left: 2rem;
}
.search-face{
    position: absolute;
    top: 5rem;
    left: 2rem;
}
.search-lock{
    position: absolute;
    top: 16rem;
    left: 23rem;
}
.checkbox{

    display: flex;
    justify-content: space-between;
}

  
